<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Project Task Relations</h2>
            <h3 class="oe_slogan">
                Task connections and workflow automation
            </h3>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Different types of task relation</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
                Create relations between tasks that allow automatic project
                workflow.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot"
                     src="screenshot_task_form.png" alt="Screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">User notification at stage changes</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture"
                     src="screenshot_user_notification.png" alt="Screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                The user, which a task is assigned to is notified when the
                task's project stage changes automatically.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12 oe_centered oe_muted">
            More information about Odoo Services of
            <a style="color:#6d57e0" href="https://jamotion.ch/" target="_blank">
                Jamotion GmbH here...</a>
        </div>
    </div>
</section>